.background-lines {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .background-lines svg {
    width: 100%;
    height: 100%;
  } 
  
  .line {
    fill: none;
    stroke: white;
    stroke-width: 0.3;
    stroke-dasharray: 150;
    stroke-dashoffset: 0;
    animation: drawLine 8s linear infinite;
  }
  
  @keyframes drawLine {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -300;
    }
  }
  