*{
  background-color: black;
  z-index: 999;
}

.connection-container {
  position: relative;
  z-index: 1; /* sits above the animation */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
