.modal-overlay {
    position: fixed; /* Change this to fixed to make it fill the entire screen */
    top: 7%;
    left: 75%;
    right: 0%;
    bottom: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000;
    height: 10vh;
  }
  
  .modal  {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }